@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    min-width: 320px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.alphacoders.com/201/201831.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    width: 80%;
    max-width: 330px;
    aspect-ratio: 1/1.5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pokemonAndName,
.formAndBtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.pokemonGif {
    display: none;
    object-fit: contain;
    width: 150px;
    object-fit: contain;
    aspect-ratio: 1/1;

    background-color: rgba(37, 150, 190, 0.2);
    padding: 15px;
    border-radius: 8px;
}

.pokemonInfo {
    font-weight: bold;
}

.pokemonNumber {
    color: #2596be;
    font-size: smaller;
}

.pokemonName {
    color: #e3e3e3;
    font-size: large;
}

.inputSearch {
    outline: none;
    border: 0;
    padding: 8px;
    border-radius: 50px;
    background: #e3e3e3;
    box-shadow: 20px 20px 60px #c1c1c1,
        -20px -20px 60px #ffffff;
    font-weight: bold;
    color: #2596be;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 4px 12px;
    border: 0;
    outline: none;

    font-weight: bold;
    color: #2596be;
    cursor: pointer;
    border-radius: 50px;
    background: #e3e3e3;
    box-shadow: 20px 20px 60px #c1c1c1,
        -20px -20px 60px #ffffff;
}

button:hover,
button:active,
.credits:hover,
.credits:active {
    background-color: #cecece;
}

.credits {
    font-weight: bold;
    text-decoration: none;
    padding: 4px 12px;
    background-color: #e3e3e3;
    color: #2596be;
    border-radius: 8px;
}