@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    min-width: 320px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.alphacoders.com/201/201831.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    background-image: url(../Media/pokedexContainer.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 80%;
    max-width: 330px;
    aspect-ratio: 1/1.5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pokemonGif {
    display: none;
    position: absolute;
    bottom: 50%;
}

.pokemonInfo {
    margin-top: 80%;
    font-weight: bold;
}

.pokemonNumber {
    color: #2596be;
    font-size: smaller;
}

.pokemonName {
    color: #e3e3e3;
    font-size: large;
}

.inputSearch {
    background-color: #e3e3e3;
    outline: none;
    border: 0;
    border-radius: 7px;
    padding: 5px;
    margin-right: 5px;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
}

button {
    padding: 2px 8px;
    border-radius: 8px;
    border: 0;
    outline: none;

    font-weight: bold;
    background-color: #e3e3e3;
    color: #2596be;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

button:hover,
button:active {
    background-color: #cecece;
}

.credits {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    color: #d30a40;
}